body {
    background-color: black;
    color: wheat;
    font-size: 18px;
}

#area {
    margin: 0 auto;
}

#formulario input {
    display: block;
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
}

.nome,
.casa,
.url {
    display: block;
    padding: 25px 15px;
    margin: 5px;
    border: 0.5px solid black;
    width: 300px;
}

.btn {
    width: 100px;
    font-size: 20px;
    cursor: pointer;
    height: 40px;
    background: wheat;
    text-align: center;
    margin: auto;
}

.btn:hover {
    outline: 1px solid white;
    border-width: 5px solid red;
    background: rgb(155, 115, 159);
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
}