body {
    background-color: black;
    color: wheat;
    font-size: 18px;
}

#area {
    margin: 0 auto;
}

#formulario input {
    display: block;
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
}

.nome,
.casa,
.url {
    display: block;
    padding: 25px 15px;
    margin: 5px;
    border: 0.5px solid black;
    width: 300px;
}

.btn-submit {
    width: 100px;
    font-size: 20px;
    cursor: pointer;
    height: 40px;
    background: wheat;
    text-align: center;
}

.btn-submit:hover {
    outline: 1px solid white;
    border-width: 5px solid red;
    background: rgb(155, 115, 159);
}

#erros {
    color: rgb(155, 115, 159);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
    background-color: bisque;
    color: black;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

img{
    width: 250px;
}
